<!-- index.html -->
{% extends 'AuthApp/base.html' %}

{% block title %}Login Page{% endblock %}

{% block content %}

<!-- login.html -->
<form method="post" class="text-center mt-2">
    {% csrf_token %}
    <div class="h2">Login</div>
    <div class="form-control">
        <label for="code">Code:</label>
        <input type="text" name="code" required class="form-input">
    </div>
    <div class="form-control mt-2 mb-2">
        <label for="password">Password</label>
        <input type="password" name="password" required class="form-input">
    </div>
    <div class="form-control">
        <button class="btn btn-success" type="submit">Login</button>
    </div>
</form>

{% if messages %}
    {% for message in messages %}
        <div>{{ message }}</div>
    {% endfor %}
{% endif %}


{% endblock %}


